.login-outer {
    display: flex;
    background-color: #252733;
    height: 100vh;
    overflow: hidden;
    padding: 0.2px 0px;
    justify-content: center;
    align-items: center;

    .login {
        display: flex;
        width: 340px;
        height: 559px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        background-color: #DFE0EB;
        border-radius: 8px;

        .logo {
            position: relative;

            display: flex;
            top: -10em;



            .logo-style {

                height: 80px;
                width: 80px;
                // top:4em;

            }
        }

        .login_to {
            position: relative;
            color: #252733;
            height: 10%;
            text-align: center;
            font-family: "Mulish";
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.3px;
            top: -8em;
            padding: 14px 0px;

        }

        .enter_email {
            position: relative;
            color: #9FA2B4;
            top: -17em;
            text-align: center;
            font-family: "Mulish";
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.3px;
            padding: 10px 0px;
        }

        .container {
            width: 250px;
            height: 10px;
            flex-shrink: 0;
            // padding: 10px;

            .foremail {
                label {
                    position: relative;
                    top: -10em;


                    b {
                        color: #9FA2B4;
                        font-family: "Mulish";
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.3px;
                        text-transform: uppercase;

                    }

                }

                input {
                    position: relative;
                    top: -11em;
                    font-family: "Mulish";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    /* 142.857% */
                    letter-spacing: 0.3px;
                    width: 250px;
                    height: 30px;
                    border: 1px solid #ccccd6;
                    border-radius: 5px;
                    background-color: #DFE0EB;
                    padding: 0px 4px;
                }
            }

            .forpass {
                label {
                    position: relative;
                    top: -9em;


                    b {
                        color: #9FA2B4;
                        font-family: "Mulish";
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.3px;
                        text-transform: uppercase;

                    }

                }

                input {
                    position: relative;
                    top: -10em;
                    font-family: "Mulish";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;
                    /* 142.857% */
                    letter-spacing: 0.3px;
                    width: 250px;
                    height: 30px;
                    border: 1px solid #ccccd6;
                    border-radius: 5px;
                    background-color: #DFE0EB;
                    padding: 0px 4px;
                }

                a {
                    position: relative;
                    right: -7em;
                    top: -12em;
                    font-family: "Mulish";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.1px;
                    text-decoration: none;
                    color: #9FA2B4;

                }
            }

            .button-container {
                display: flex;
                justify-content: center;

                .butt {
                    position: relative;
                    text-align: center;
                    top: -8em;
                    text-align: center;

                    background-color: #FF6100;
                    color: #FFFFFF;
                    border: none;
                    font-family: "Mulish";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px;
                    /* 142.857% */
                    letter-spacing: 0.2px;
                    box-shadow: 0px 4px 12px 0px rgba(55, 81, 255, 0.24);
                    border-radius: 8px;
                    width: 284px;
                    height: 48px;
                    flex-shrink: 0;
                }
            }

            .googlesignin {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .another_signin {
                    color: #9FA2B4;
                    position: relative;
                    font-family: "Mulish";
                    letter-spacing: 0.3px;
                    top: -6em;
                }

                .google_button {
                    position: relative;
                    width: 30px;
                    border: none;
                    background-color: #DFE0EB;
                    top: -6em;

                    .google {
                        &:hover {
                            color: #DB4437;
                        }
                    }
                }



            }

            .sign-up {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                top: -2em;

                .sign-up-text {
                    letter-spacing: 0.3px;
                    font-family: "Mulish";
                    color: #9FA2B4;

                }

                .sign-up-button {
                    position: relative;
                    border: none;
                    right: -1em;
                    background-color: #DFE0EB;
                    color: #FF6100;

                    &:hover{
                        color: black;
                    }
                }
            }

        }


    }
}